
@font-face {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400,600;
}

.span12 {
	//text-align: center;
}	
.span10 {
	padding: 0;
}

.center {
	text-align: center;
}

.copy{
	text-align: left;
}

html,
body {
	height: 100%;
	background-image: url("../img/random_grey_variations.png");
	background-repeat: repeat;

}

body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	font-size: 16px ;
	color: #333;
	line-height: 23px;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300; 
	font-size: 36px ;
	color: #657793;
	display:inline
}

h1 span, h3 span{
	color: #7A8FB1;
	line-height: 39px;
}

.navbar .brand{
	color: #374150;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300; 
	line-height: 36px;
	color: #3A4758; 
}

h3 {
	font-size: 18px ;
	font-weight: 300;
	line-height: 18px;
	margin: 0 30 10px;
	color: #3A4758; 
}
.score {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px ;
	font-weight: 700;
	line-height: 36px;
	/*	margin: 0 30 10px;*/
	color: #3A4758; 
}
.venue {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px ;
	font-weight: 300;
	line-height: 24px;
	/*margin: 0 30 10px;*/
	color: #3A4758; 
}

.white{
	color: rgb(238, 238, 238);
}


.row {
	padding: 5px 0px 15px ;
	margin-left:0px;
	margin-right:0px;
	background: rgb(238, 243, 249);
}


.footer {

	padding: 40px 0px 45px ;
	margin-bottom: 30px;
	background:#374150;
	font-size: 14px ;
	font-weight: 400;
	line-height: 20px;
	color: rgb(238, 238, 238); 
}

.header {
	padding: 15px 0px 0px;
	margin-bottom: 0px;
	border: 0;
	border-bottom: 1px solid #ddd;
	background:#374150;
}

.panel {
	padding: 5px 0px 36px ;
	margin-bottom: 0px;
	border: 0;

}

.logo {
	padding-top:0px;

	text-align: right;
}
.clear {
	clear: both;
}

.tip {
	position:absolute;
	top: -200px;
	left: -200px;
	background:#FF9900;
	font-size:12px;
	height:90px;
	width:180px;
	padding:12px 25px;
	color:#000;
	box-shadow: 3px 3px 4px #666;
	z-index:500;
}
.time{
	position:relative;
	top:-10px;
	left:20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:32px;
	font-weight: 300;
}
.subtitle{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:16px;
	font-weight: 400;
}

#distance{
	height:30px;
	font-size:32px;
	font-weight: 800;
	padding-top:10px;
	padding-bottom:10px;
}
.left{
	float:left;
}

.right{
	float:right;
}

ul{
	list-style-type: none;
	margin: 0;
	margin-left: -20px;
	padding: 0;
}

.list {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 200; 
	font-size: 20px ;
	color: #657793;

	line-height: 29px;

}


.navbar .nav li a {
	color: #657793;
}

.navbar .brand{
	padding: 5px 20px;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 14px;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-submenu:hover a {
	color: rgb(255, 255, 255);
}


.section {
	padding: 8px 0px 26px ;

	border: 0;
	border-top: 1px solid #ddd;
	/*border-bottom: 1px solid #ffffff;*/
	background: rgb(238, 243, 249);
}

.sectionTitle {
	display: inline;
	position:relative;
	top:-24px;
	font-family:"Open Sans" ;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #94A598;
	text-transform: uppercase;
	padding: 0px 18px;
	background-image: url("../img/blueBG.png");

}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: #666;
}



.subtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	color: #333;
}



.data {

	font-size: 28px;
	line-height: 38px;
	font-weight: 700;
}

.clear {
	clear: both;
}



/*overlay shirt number*/
.shirt { 
	position: relative; 
	width: 100%; /* for IE 6 */
}

h5 { 
	position: absolute; 
	top: 10px; 
	left: 0; 
	width: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700; 
	font-size: 18px ;
}


.axis path,
.axis line {
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.rule line {
	stroke: #eee;
}

.chartText {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #666;
}



.sidebar-nav-fixed {
	padding: 9px 0;
	position:fixed;
	left:20px;
	top:60px;
	width:960px;
}

#timelineSlider{
	margin-left: 50px;
}

.pitch{
	position:relative;
	margin: 0px auto;
	height: 584px;
	width:840px;
	background-color: #118811;
}

.matrix{
	position:relative;
	margin: 0px auto;

	height: 800px;
	width: 498px;
	
	border-bottom: 1px solid #ddd;

	//background-color: #e6e6e6;

}
.legend{
	position:relative;
	margin: 20px 30px;

}

.smallpitch{
	position:relative;
	margin: 0px auto;
	height: 482px;
	width: 780px;
	background-color: #118811;
}

.todo{
	color: #666;
}			
.leftMargin{
	padding-left: 50px;
}

.crop{
	height: 240px;
	overflow:hidden;
	margin:0px auto 40px;

}
.banner{
	
	overflow:hidden;
	margin:0px auto 40px;

}
.crop img{
	margin:-120px 80px;
	}
.highlight{
	font-weight: bold;
	color:#403E7E;
	}

.white{
	color:#FFF;
	}
.white:hover{
	color:#ccF;
	}

