@font-face {
  font-family: 'nexa_light';
  src: url('https://mcoulthurst.github.io/css/fonts/nexa-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('https://mcoulthurst.github.io/css/fonts/nexa-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mcoulthurst.github.io/css/fonts/nexa-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mcoulthurst.github.io/css/fonts/nexa-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://mcoulthurst.github.io/css/fonts/nexa-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://mcoulthurst.github.io/css/fonts/nexa-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'nexa_bold';
  src: url('https://mcoulthurst.github.io/css/fonts/nexa-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('https://mcoulthurst.github.io/css/fonts/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://mcoulthurst.github.io/css/fonts/nexa-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mcoulthurst.github.io/css/fonts/nexa-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://mcoulthurst.github.io/css/fonts/nexa-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://mcoulthurst.github.io/css/fonts/nexa-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
