
svg {
  font: 10px sans-serif;

}

path {
  stroke-width: 2;
  fill: none;
}


.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  // shape-rendering: crispEdges;
}



.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.chart rect {
 /*fill: steelblue;*/
 stroke: white;
}
.arc path {
  shape-rendering: geometricPrecision  ;
  stroke: #ddd;
  stroke-opacity:.2;
}



 /**
 * List used for the demo page
 */
 ul {
  list-style: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



#calender #demographic{
  background: #333;
}

#calender .plotline{
  stroke: #FA1387;
  stroke-width: 2px;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #ddd;
}
.tick {
  stroke-width:1px;
  fill: none;
  stroke: #e6e6e6;
}


.y.axis text, .x.axis text{

  fill: #666;
}


.extentchart {
  margin: 5px;
}

.extentchart rect {
  stroke: white;

}

.extentchart text {
  fill: #666;
}
.results {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}